name: "Compilaci칩n del documento .tex de la carpeta Informes"

on: 
  push: 
  branches: 
  - main # Detecta cambios en el repositorio principal para ejecutar el codigo

jobs: 
  release_cv:
  name: "Ejecucion Informe LaTex"
  runs-on: ubuntu-latest #Carga de la m치aquina virtual Linux

  steps: 
   name: "Checkout master"
   uses: actions/checkout@v1 #Revision de archivos en el repositorio

   name: "Compilaci칩n del Informe"
   uses: xu-cheng/latex-action@master    #Lo que necesitamos para compilar el programa .tex
   with:
     root_file: Informes Prueba/Informe01.tex #Ruta de la carpeta

  name: "Revisi칩n del PDF"
  run: |
    file Informe01.pdf | grep -q 'PDF'

    name: "Carga del PDF a una URL fija"
    uses: "marvinpinto/action-automatic-release@latet"
    with:
      repo_token: "{{ secrets.PERSONAL_ACCESS_TOKEN}}"
      automatic_release_tag: "latest"
      prerelease: true 
      title: "Carga"
      files: |
        Informe01.pdf
   
